[Settings]
gtk-theme-name=##gtk_theme##
gtk-icon-theme-name=##icon_theme##
gtk-font-name=##font_main## ##font_size##
gtk-cursor-theme-name=##cursor_theme##
gtk-cursor-theme-size=24
gtk-application-prefer-dark-theme=true