[Appearance]
style=kvantum
color_scheme_path=
custom_palette=false
icon_theme=##icon_theme##

[Fonts]
fixed=##font_main##,##font_size##
general=##font_main##,##font_size##

[Interface]
activate_item_on_single_click=1
double_click_interval=400
show_shortcuts_in_context_menus=true