* {
    font-family: "JetBrainsMono Nerd Font";
    background-image: none;
    transition: 200ms;
}
window {
    background-color: rgba(30, 30, 46, 0.8);
}
button {
    background-color: #181825;
    color: #cdd6f4;
    border: 2px solid #181825;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
}
button:focus, button:active, button:hover {
    background-color: #cdd6f4;
    color: #1e1e2e;
}
#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
    border-color: #89b4fa;
}
#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
    border-color: #f38ba8;
}
#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
    border-color: #f9e2af;
}
#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
    border-color: #a6e3a1;
}
#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
    border-color: #f5c2e7;
}