# ----------------------------------------------------- 
# btop Config
# ----------------------------------------------------- 
# This is a template file.
# Colors are managed by theme.sh
# ----------------------------------------------------- 

# Set the theme to use the colors defined below
color_theme = "custom"
theme_background = false

# Custom theme colors
theme[main_bg]="#background"
theme[main_fg]="#foreground"
theme[title]="#foreground"
theme[hi_fg]="#mauve"
theme[selected_bg]="#surface0"
theme[selected_fg]="#text"
theme[inactive_fg]="#overlay0"
theme[graph_text]="#text"
theme[meter_bg]="#surface1"
theme[proc_misc]="#peach"
theme[cpu_box]="#blue"
theme[mem_box]="#green"
theme[net_box]="#red"
theme[proc_box]="#yellow"