# ----------------------------------------------------- 
# MangoHud Config
# ----------------------------------------------------- 
# This is a template file.
# Colors are managed by theme.sh
# ----------------------------------------------------- 

# --- General ---
legacy_layout=false
horizontal
position=top-left
table_columns=3

# --- Displayed Info ---
fps
cpu_stats
gpu_stats
ram
frametime

# --- Theming ---
background_color=##hud_background##
text_color=##hud_foreground##
accent_color=##hud_accent##
font_size=18
background_alpha=0.8
alpha=1.0
round_corners=10