# ----------------------------------------------------- 
# Yazi Theme
# ----------------------------------------------------- 
# This is a template file.
# Colors and fonts are managed by theme.sh
# ----------------------------------------------------- 

[manager]
cwd = { fg = "##blue##", bold = true }

# Border
border_fg = "##surface1##"
border_style = "rounded"

# Highlighting
hovered_fg = "##mauve##"
hovered_bg = "##surface0##"
selected_fg = "##green##"
selected_bg = "##surface1##"

[status]
separator_fg = "##surface1##"
border_fg = "##surface1##"

# Elements
title_fg = "##blue##"
info_fg = "##text##"