# ----------------------------------------------------- 
# Mako Config
# ----------------------------------------------------- 
# This is a template file.
# Colors and fonts are managed by theme.sh
# ----------------------------------------------------- 

font=##font_main## ##font_size##
width=300
height=100
margin=10
padding=15
border-size=2
border-radius=10
default-timeout=5000

# --- Colors ---
background-color=###background##
text-color=###text##
border-color=###mauve##

[urgency=low]
border-color=###blue##
default-timeout=2000

[urgency=normal]
border-color=###mauve##

[urgency=high]
border-color=###red##
default-timeout=0